* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

@media only screen and (max-width: 768px) {
  /* For tablets: */
  .container h1 {
    font-size: 43.875px !important;
  }
  .container h2 {
    font-size: 21.938px !important;
  }
  .learnMoreBtn {
    width: 130.72px !important;
    height: 44px !important;
    padding: 12px 21.8px 12px 22px !important;
    font-size: 17px !important;
  }
  .buyBtn {
    width: 73.2px !important;
    height: 44px !important;
    padding: 12px 21.8px 12px 22px !important;
    font-size: 17px !important;
  }
  .menu {
    justify-content: space-between !important;
  }
  .menu span {
    display: none !important;
    visibility: hidden !important;
  }
  /* .little-background {
    /* height: 490px !important; */

  .little-background .btn-container .learnMoreBtn {
    width: 104.25px !important;
    height: 36px !important;
    padding: 10px 15.8px 10px 16px !important;
  }
  .little-background .btn-container .buyBtn {
    width: 62px !important;
    height: 36px !important;
    padding: 10px 18.65px 10px 18.84px !important;
    font-size: 14px !important;
  }
  .tabpanel {
    height: 405px !important;
  }
  #movie2 {
    background-image: url(blitz.jpeg) !important;
  }
  .link,
  .linkMusic {
    width: 286px !important;
    height: 161px !important;
  }
  .rnb {
    visibility: hidden !important;
  }
  .background {
    height: 500px !important;
  }
  .gallery-section {
    height: 194px !important;
  }
  .tabpanel {
    width: 100vw;
    height: 367.78px !important;
  }
  .carousel-item {
    width: 689px !important;
    height: 367.78px !important;
  }
  #radio1:checked ~ .first {
    margin-left: 0;
  }
  #radio2:checked ~ .first {
    margin-left: -16% !important;
  }
  #radio3:checked ~ .first {
    margin-left: -33% !important;
  }
  #radio4:checked ~ .first {
    margin-left: -49% !important;
  }
  #radio5:checked ~ .first {
    margin-left: -66% !important;
  }
  #radio6:checked ~ .first {
    margin-left: -82% !important;
  }
}
@media only screen and (max-width: 480px) {
  /* For phones: */
  .container {
    height: 200px !important;
    h1 {
      font-size: 29.25px !important;
      /* padding-bottom: 2px !important; */
    }
    h2 {
      font-size: 17.367px !important;
      padding: 3px 0 10px 0px !important;
    }
  }
  .learnMoreBtn {
    width: fit-content !important;
    height: 36px !important;
    padding: 10px 15.8px 10px 16px !important;
    font-size: 14px !important;
  }
  .buyBtn {
    width: 62px !important;
    height: 36px !important;
    padding: 10px 18.65px 10px 18.84px !important;
    font-size: 14px !important;
  }
  .menu {
    justify-content: space-between !important;
  }
  .menu span {
    display: none !important;
    visibility: hidden !important;
  }
  .background {
    height: 580px !important;
  }
  #iphone16pro {
    background-image: url(16pro-phones.jpeg) !important;
    align-items: flex-end !important;
    /* .container {
      justify-content: flex-end !important;
    } */
  }
  #iphone16 {
    background-image: url(16-phones.jpeg) !important;
  }
  .background2 {
    grid-template-columns: 1fr !important;
    grid-template-rows: auto !important;
  }
  .little-background {
    /* height: 500px !important; */
    width: 100vw !important;
  }
  .tabpanel {
    height: 495px !important;
  }
  .gallery-section {
    height: 160px !important;
  }
  .link,
  .linkMusic {
    width: 238px !important;
    height: 134px !important;
  }
  .rnb {
    visibility: hidden !important;
  }
  .carousel-item {
    width: 274px !important;
    height: 495px !important;
  }
  #movie1 {
    background-image: url(blitz.jpeg) !important;
    background-position: center;
    /* width: 274px !important; */
  }
  #movie2 {
    background-image: url(movie1-phone.jpeg) !important;
    background-position: center;
    /* width: 274px !important; */
  }
  #movie3 {
    background-image: url(movie3-phone.jpeg) !important;
    background-position: center;
    /* width: 274px !important; */
  }
  #movie4 {
    background-image: url(movie4-phone.jpeg) !important;
    background-position: center;
    /* width: 274px !important; */
  }
  #movie5 {
    background-image: url(movie5-phone.jpeg) !important;
    background-position: center;
    /* width: 274px !important; */
  }
  #movie6 {
    background-image: url(movie6-phone.jpeg) !important;
    background-position: center;
    /* width: 274px !important; */
  }
}
@keyframes gallery {
  0% {
    transform: translateX(70%);
  }
  100% {
    transform: translateX(-100%);
  }
}
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
nav {
  width: 100vw;
  height: 44px;
  background: #fafafccc;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 99;
}
.first {
  /* padding-top: 32px; */
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-bottom: 12px;
}
.menu {
  width: 992px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.menu span {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 350;
  line-height: 60px;
  letter-spacing: -0.28px;
}
.ad {
  width: 100vw;
  height: 52.58px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 44px;
}
.ad p {
  color: #1d1d1f;
  text-align: center;
  font-family: Inter;
  font-size: 13.891px;
  font-style: normal;
  font-weight: 350;
  line-height: 20.59px; /* 148.229% */
  letter-spacing: -0.374px;
}
.background {
  width: 100vw;
  height: 692px;
  /* background: #000; */
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.container {
  width: 500px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 55px;
  padding-bottom: 55px;
}
.container h1 {
  color: #f5f5f7;
  text-align: center;
  font-family: Inter;
  font-size: 51.406px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px;
  letter-spacing: -0.28px;
  /* margin-top: 55px; */
}
.container h2 {
  color: #f5f5f7;
  text-align: center;
  font-family: Inter;
  font-size: 24.281px;
  font-style: normal;
  font-weight: 300;
  line-height: 32px; /* 131.789% */
  letter-spacing: 0.196px;
  padding: 6px 0px 19px 0;
}

.btn-container {
  width: 400px;
  height: 44px;
  display: flex;
  justify-content: center;
  gap: 18px;
  /* padding: 19px 0px 0 0; */
}
.learnMoreBtn {
  display: flex;
  width: 130.72px;
  height: 44px;
  padding: 12px 21.8px 12px 22px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 980px;
  background: #0071e3;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 16.867px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px; /* 118.573% */
  letter-spacing: -0.374px;
}
.buyBtn {
  display: flex;
  width: 73.2px;
  height: 44px;
  background-color: transparent;
  padding: 12px 21.8px 12px 22px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 980px;
  border: 1px solid #2997ff;
  color: #2997ff;
  text-align: center;
  font-family: Inter;
  font-size: 16.734px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 119.514% */
  letter-spacing: -0.374px;
}
.shopGiftsBtn {
  display: flex;
  width: 121.92px;
  height: 44px;
  padding: 12px 21.8px 12px 22px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 980px;
  background: #0071e3;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 16.867px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px; /* 118.573% */
  letter-spacing: -0.374px;
  /* padding: 19px 0 0 0; */
}
.background2 {
  width: 100vw;
  height: fit-content;
  /* display: flex;
  flex-direction: row;
  justify-content: center; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 12px;
  /* margin-top: 1%;  */
}
.little-background {
  width: calc(50vw - 6px);
  height: 580px;
  flex-shrink: 0;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
}
.little-background img {
  padding-top: 58px;
}
.little-background h2 {
  color: #f5f5f7;
  text-align: center;
  font-family: Inter;
  font-size: 36.25px;
  font-style: normal;
  font-weight: 500;
  line-height: 44px; /* 121.379% */
}
.h3 {
  display: flex;
  width: 315px;
  height: 50px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  padding-top: 10px;
}
.h3 p {
  display: flex;
  width: 315.2px;
  height: 50px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #1d1d1f;
  text-align: center;
  font-family: Inter;
  font-size: 18.867px;
  font-style: normal;
  font-weight: 300;
  line-height: 25px; /* 132.505% */
  letter-spacing: 0.231px;
}
.little-background h3 {
  color: #1d1d1f;
  text-align: center;
  font-family: Inter;
  font-size: 17.883px;
  font-style: normal;
  font-weight: 300;
  line-height: 25px; /* 139.799% */
  letter-spacing: 0.231px;
  padding-top: 10px;
}
.little-background .btn-container {
  width: 300px;
  height: 36px;
  flex-direction: row;
  padding-top: 17px;
}
.little-background .btn-container .learnMoreBtn {
  width: 104.25px;
  height: 36px;
  padding: 10px 15.8px 10px 16px;
  font-size: 13.891px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px; /* 143.982% */
  letter-spacing: -0.224px;
}
.little-background .btn-container .buyBtn {
  width: 62px;
  height: 36px;
  padding: 10px 18.65px 10px 18.84px;
  font-family: Inter;
  font-size: 13.891px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px; /* 143.982% */
  letter-spacing: -0.224px;
}
.little-background h4 {
  padding-top: 340px;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 128.571% */
  background: linear-gradient(
    90deg,
    #0090f7 0%,
    #ba62fc 33.33%,
    #f2416b 66.67%,
    #f55600 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.tradeButton {
  display: flex;
  width: 145.41px;
  height: 36px;
  padding: 10px 15.8px 10px 16px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 13.891px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px; /* 143.982% */
  letter-spacing: -0.224px;
  border-radius: 980px;
  background: #0071e3;
  margin-top: 17px;
}
.tabpanel {
  width: 100vw;
  height: 668px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  overflow: hidden;
}
.panelBG {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  width: fit-content;
  height: 100%;
  gap: 15px;
  /* overflow-x: scroll;
  scrollbar-width: none;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  position: relative; */
}
.panelBG input {
  display: none;
}
.carousel-item {
  width: 1250px;
  /* width: 300px; */
  height: 100%;
  position: relative;
  transition: 2s;
  scroll-snap-align: center;
  background: var(--url) center / cover no-repeat;
}
#radio1:checked ~ .first {
  margin-left: 0;
}
#radio2:checked ~ .first {
  margin-left: -13%;
}
#radio3:checked ~ .first {
  margin-left: -30%;
}
#radio4:checked ~ .first {
  margin-left: -46%;
}
#radio5:checked ~ .first {
  margin-left: -63%;
}
#radio6:checked ~ .first {
  margin-left: -76%;
}
#radio1:checked ~ .navigation label[for="radio1"],
#radio2:checked ~ .navigation label[for="radio2"],
#radio3:checked ~ .navigation label[for="radio3"],
#radio4:checked ~ .navigation label[for="radio4"],
#radio5:checked ~ .navigation label[for="radio5"],
#radio6:checked ~ .navigation label[for="radio6"] {
  background: #919191;
}
.tablist {
  width: 220px;
  height: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  flex-shrink: 0;
  padding-top: 16px;
  padding-bottom: 48px;
}
.tablist-button {
  border: 1.5px solid black;
  padding: 4px;
  border-radius: 8px;
  cursor: pointer;
  transition: 1s;
}
.tablist-button:not(:last-child) {
  margin-right: 10px;
}
.tablist-button:hover {
  background: #919191;
}
.bullet {
  width: 8px;
  height: 8px;
  background-color: black;
  border-radius: 100%;
  opacity: 0.5;
}
.gallery-section {
  width: 100vw;
  height: 292px;
  overflow: scroll;
}
.gallery {
  width: 100%;
  display: inline-flex;
  height: 236px;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 15px;
  flex-shrink: 0;
  /* overflow: hidden; */
  animation: gallery 10s linear infinite;
}
.link {
  width: 417px;
  height: 236px;
  display: flex;
  flex-direction: column;
  /* position: absolute; */
}
.link p {
  display: flex;
  width: 450.7px;
  height: 18px;
  flex-shrink: 0;
  color: #fff;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 128.571% */
  letter-spacing: -0.224px;
  padding: 198px 178.3px 20px 15px;
}
.linkMusic {
  min-width: 417px;
  height: 236px;
  display: flex;
  padding-left: 15px;
  /* position: absolute; */
}
.linkdiv1 {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.linkdiv1-span {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding-left: 15px;
}
.linkdiv1-span span {
  color: #fff;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 128.571% */
  letter-spacing: -0.224px;
}
.linkdiv1-logo {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 15px;
  padding-bottom: 20px;
}
.musiclogo {
  width: 59px;
  height: 13.92px;
}
.rnb {
  width: 196px;
  height: 196px;
}
#iphone16pro {
  background-image: url(iphone16pro.png);
  background-size: cover;
  background-position: center;
}
#iphone16 {
  background-image: url(iphone16.png);
  background-size: cover;
  background-position: center;
  /* margin-top: 12px; */
  .learnMoreBtn {
    background: #f5f5f7;
    color: #000;
  }
  .buyBtn {
    color: #f5f5f7;
    border-color: #f5f5f7;
  }
}

#apple {
  background-image: url(appleBG.png);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  /* margin-top: 12px; */
  h1 {
    /* margin-top: 476px; */
    color: #1d1d1f;
  }
  h2 {
    color: #1d1d1f;
  }
}

#iPadAir {
  background-image: url(ipad.png);
  background-size: cover;
  background-position: center;
}
#airPod {
  background-image: url(airpod.png);
  background-size: cover;
  padding-top: 401px;
  background-position: center;
}
#iwatch {
  background-image: url(iwatch.png);
  background-size: cover;
  background-position: center;
}
#macbook {
  background-image: url(macbook.png);
  background-size: cover;
  padding-top: 53px;
  background-position: center;
}
#trade {
  background-image: url(trade.png);
  background-size: cover;
  background-position: center;
}
#applecard {
  background-image: url(applecard.png);
  background-size: cover;
  background-position: center;
}
#apply {
  display: flex;
  width: 100px;
  height: 36px;
  padding: 10px 15.8px 10px 16px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  text-align: center;
  font-family: Inter;
  font-size: 13.781px;
}
#whiteText {
  color: #f5f5f7;
}
#blackText {
  color: #1d1d1f;
}
#fitness {
  background-image: url(fitness.png);
  background-position: center;
}
#music {
  background: #1b2632;
}
#arcade {
  background-image: url(arcade.png);
  background-position: center;
}
#fitness2 {
  background-image: url(fitness2.png);
  background-position: center;
}
#music2 {
  background-repeat: no-repeat;
  background-color: #ebb799;
}

#movie1 {
  background-image: url(movie1.jpeg);
  background-position: center;
}
#movie2 {
  background-image: url(movie2.png);
  background-size: cover;
  background-position: center;
}
#movie3 {
  background-image: url(movie3.jpeg);
  background-position: center;
}
#movie4 {
  background-image: url(movie4.jpeg);
  background-position: center;
}
#movie5 {
  background-image: url(movie5.jpeg);
  background-position: center;
}
#movie6 {
  background-image: url(movie6.jpeg);
  background-position: center;
}
