* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {
    width: 8.33%;
  }
  .col-s-2 {
    width: 16.66%;
  }
  .col-s-3 {
    width: 25%;
  }
  .col-s-4 {
    width: 33.33%;
  }
  .col-s-5 {
    width: 41.66%;
  }
  .col-s-6 {
    width: 50%;
  }
  .col-s-7 {
    width: 58.33%;
  }
  .col-s-8 {
    width: 66.66%;
  }
  .col-s-9 {
    width: 75%;
  }
  .col-s-10 {
    width: 83.33%;
  }
  .col-s-11 {
    width: 91.66%;
  }
  .col-s-12 {
    width: 100%;
  }
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}
@keyframes gallery {
  0% {
    transform: translateX(70%);
  }
  100% {
    transform: translateX(-100%);
  }
}
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
nav {
  width: 100vw;
  height: 44px;
  background: #fafafccc;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
}
.first {
  /* padding-top: 32px; */
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-bottom: 12px;
}
.menu {
  width: 992px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.menu span {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 350;
  line-height: 60px;
  letter-spacing: -0.28px;
}
.ad {
  width: 100vw;
  height: 52.58px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 44px;
}
.ad p {
  color: #1d1d1f;
  text-align: center;
  font-family: Inter;
  font-size: 13.891px;
  font-style: normal;
  font-weight: 350;
  line-height: 20.59px; /* 148.229% */
  letter-spacing: -0.374px;
}
.background {
  width: 100vw;
  height: 692px;
  /* background: #000; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.background h1 {
  color: #f5f5f7;
  text-align: center;
  font-family: Inter;
  font-size: 51.406px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px;
  letter-spacing: -0.28px;
  margin-top: 55px;
}
.background h2 {
  color: #f5f5f7;
  text-align: center;
  font-family: Inter;
  font-size: 24.281px;
  font-style: normal;
  font-weight: 300;
  line-height: 32px; /* 131.789% */
  letter-spacing: 0.196px;
  padding: 6px 0px 19px 0;
}
.btn-container {
  width: 400px;
  height: 44px;
  display: flex;
  justify-content: center;
  gap: 18px;
  /* padding: 19px 0px 0 0; */
}
.learnMoreBtn {
  display: flex;
  width: 130.72px;
  height: 44px;
  padding: 12px 21.8px 12px 22px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 980px;
  background: #0071e3;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 16.867px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px; /* 118.573% */
  letter-spacing: -0.374px;
}
.buyBtn {
  display: flex;
  width: 73.2px;
  height: 44px;
  background-color: transparent;
  padding: 12px 21.8px 12px 22px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 980px;
  border: 1px solid #2997ff;
  color: #2997ff;
  text-align: center;
  font-family: Inter;
  font-size: 16.734px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 119.514% */
  letter-spacing: -0.374px;
}
.shopGiftsBtn {
  display: flex;
  width: 121.92px;
  height: 44px;
  padding: 12px 21.8px 12px 22px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 980px;
  background: #0071e3;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 16.867px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px; /* 118.573% */
  letter-spacing: -0.374px;
  /* padding: 19px 0 0 0; */
}
.background2 {
  width: 100vw;
  height: 580px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 12px;
  /* margin-top: 1%;  */
}
.little-background {
  max-width: calc(50% - 6px);
  height: 100%;
  flex-shrink: 0;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
}
.little-background img {
  padding-top: 58px;
}
.little-background h2 {
  color: #f5f5f7;
  text-align: center;
  font-family: Inter;
  font-size: 36.25px;
  font-style: normal;
  font-weight: 500;
  line-height: 44px; /* 121.379% */
}
.h3 {
  display: flex;
  width: 315px;
  height: 50px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  padding-top: 10px;
}
.h3 p {
  display: flex;
  width: 315.2px;
  height: 50px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #1d1d1f;
  text-align: center;
  font-family: Inter;
  font-size: 18.867px;
  font-style: normal;
  font-weight: 300;
  line-height: 25px; /* 132.505% */
  letter-spacing: 0.231px;
}
.little-background h3 {
  color: #1d1d1f;
  text-align: center;
  font-family: Inter;
  font-size: 17.883px;
  font-style: normal;
  font-weight: 300;
  line-height: 25px; /* 139.799% */
  letter-spacing: 0.231px;
  padding-top: 10px;
}
.little-background .btn-container {
  width: 300px;
  height: 36px;
  flex-direction: row;
  padding-top: 17px;
}
.little-background .btn-container .learnMoreBtn {
  width: 104.25px;
  height: 36px;
  padding: 10px 15.8px 10px 16px;
  font-size: 13.891px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px; /* 143.982% */
  letter-spacing: -0.224px;
}
.little-background .btn-container .buyBtn {
  width: 62px;
  height: 36px;
  padding: 10px 18.65px 10px 18.84px;
  font-family: Inter;
  font-size: 13.891px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px; /* 143.982% */
  letter-spacing: -0.224px;
}
.little-background h4 {
  padding-top: 340px;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 128.571% */
  background: linear-gradient(
    90deg,
    #0090f7 0%,
    #ba62fc 33.33%,
    #f2416b 66.67%,
    #f55600 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.tradeButton {
  display: flex;
  width: 145.41px;
  height: 36px;
  padding: 10px 15.8px 10px 16px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 13.891px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px; /* 143.982% */
  letter-spacing: -0.224px;
  border-radius: 980px;
  background: #0071e3;
  margin-top: 17px;
}
.tabpanel {
  width: 100vw;
  height: 705.25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.panelBG {
  display: flex;
  width: 100vw;
  height: 90%;
  gap: 15px;
}
.movie1 {
  background-image: url(movie1.jpeg);
  background-position: right;
  opacity: 0.29;
  width: 15%;
}
.movie2 {
  background-image: url(movie2.png);
  /* background-position:inherit; */
  /* object-fit: contain; */
  background-size: cover;
  width: 70%;
  height: 100%;
  /* flex-shrink: 0; */
}
.movie3 {
  background-image: url(movie3.jpeg);
  background-position: left;
  opacity: 0.29;
  width: 15%;
}
.tablist {
  width: 220px;
  height: 8px;
  flex-shrink: 0;
  padding-top: 16px;
}
.gallery-section {
  width: 100vw;
  height: 292px;
  overflow: scroll;
}
.gallery {
  width: 100%;
  display: inline-flex;
  height: 236px;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 15px;
  flex-shrink: 0;
  /* overflow: hidden; */
  animation: gallery 10s linear infinite;
}
.link {
  width: 417px;
  height: 236px;
  display: flex;
  flex-direction: column;
  /* position: absolute; */
}
.link p {
  display: flex;
  width: 450.7px;
  height: 18px;
  flex-shrink: 0;
  color: #fff;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 128.571% */
  letter-spacing: -0.224px;
  padding: 198px 178.3px 20px 15px;
}
.linkMusic {
  min-width: 417px;
  height: 236px;
  display: flex;
  padding-left: 15px;
  /* position: absolute; */
}
.linkdiv1 {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.linkdiv1-span {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding-left: 15px;
}
.linkdiv1-span span {
  color: #fff;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 128.571% */
  letter-spacing: -0.224px;
}
.linkdiv1-logo {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 15px;
  padding-bottom: 20px;
}
.musiclogo {
  width: 59px;
  height: 13.92px;
}
.rnb {
  width: 196px;
  height: 196px;
}
#iphone16pro {
  background-image: url(iphone16pro.png);
  background-size: cover;
  background-position: center;
}
#iphone16 {
  background-image: url(iphone16.png);
  background-size: cover;
  background-position: center;
  /* margin-top: 12px; */
  .learnMoreBtn {
    background: #f5f5f7;
    color: #000;
  }
  .buyBtn {
    color: #f5f5f7;
    border-color: #f5f5f7;
  }
}

#apple {
  background-image: url(appleBG.png);
  background-size: cover;
  background-position: center;
  /* margin-top: 12px; */
  h1 {
    margin-top: 476px;
    color: #1d1d1f;
  }
  h2 {
    color: #1d1d1f;
  }
}

#iPadAir {
  background-image: url(ipad.png);
  background-size: cover;
  background-position: center;
}
#airPod {
  background-image: url(airpod.png);
  background-size: cover;
  padding-top: 401px;
  background-position: center;
}
#iwatch {
  background-image: url(iwatch.png);
  background-size: cover;
  background-position: center;
}
#macbook {
  background-image: url(macbook.png);
  background-size: cover;
  padding-top: 53px;
  background-position: center;
}
#trade {
  background-image: url(trade.png);
  background-size: cover;
  background-position: center;
}
#applecard {
  background-image: url(applecard.png);
  background-size: cover;
  background-position: center;
}
#apply {
  display: flex;
  width: 100px;
  height: 36px;
  padding: 10px 15.8px 10px 16px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  text-align: center;
  font-family: Inter;
  font-size: 13.781px;
}
#whiteText {
  color: #f5f5f7;
}
#blackText {
  color: #1d1d1f;
}
#fitness {
  background-image: url(fitness.png);
  background-position: center;
}
#music {
  background: #1b2632;
}
#arcade {
  background-image: url(arcade.png);
  background-position: center;
}
#fitness2 {
  background-image: url(fitness2.png);
  background-position: center;
}
#music2 {
  background-repeat: no-repeat;
  background-color: #ebb799;
}
